body{

	width:1100px;

	margin: auto auto;
	background-color: black;

}
.event{

	float:left;
	margin: 0px 30px;



}
.even {

	/*width: 200px;
	border-style: solid;
	/*display: inline;
	margin: 50px 20px;
	float:right;
	color: black;
	background-color: red;*/
	text-align: center;
	color: black;
	background-color: white;
}
p{
	text-align: center;
}

img{
	
	margin: 50px;
	border-color: red;
	border-style: solid;
	width: 200px;
	height: 200px;
}

li{
	
	display: inline;
	margin: 0px 50px;
}